# 스크래피 가온데이터 합치기
****week_num datatype int로 통일하고 합치기

In [3]:
import pandas as pd
import os

In [7]:
melon_data_list = os.listdir('../code/melon_data')

In [8]:
melon_data_list

['melon_data_2013.csv',
 'melon_data_2014.csv',
 'melon_data_2015_1.csv',
 'melon_data_2015_2.csv',
 'melon_data_2016.csv',
 'melon_data_2017.csv',
 'melon_data_2018_1.csv',
 'melon_data_2018_2.csv',
 'melon_data_2019.csv',
 'melon_data_2020.csv',
 'melon_data_2021.csv',
 'melon_data_2022.csv',
 'melon_data_2023_1.csv',
 'melon_data_2023_2.csv',
 'melon_data_2023_3.csv']

In [11]:

list_tmp_df = []
for data in melon_data_list:
    df = pd.read_csv(f'../code/melon_data/{data}')

    # 글자 행 삭제 후 week_num값을 int로 형변환
    drop_index = df.loc[df['music']=='music'].index
    df = df.drop(drop_index, axis=0)

    list_tmp_df.append(df)

melon_df = pd.concat(list_tmp_df, ignore_index=True)
melon_df

,Unnamed: 0,music,singer,music_id,release_date,category,music_like,comment_count
0,0,Dancing Queen,소녀시대,3994911,2013.01.01,댄스,21566,36
1,1,사랑은 이렇게,케이윌,3995922,2012.12.22,"발라드, 국내드라마",9927,11
2,2,숲,이승기,3968836,2012.11.22,발라드,155630,361
3,3,카페인,양요섭,3971021,2012.11.26,발라드,80677,205
4,4,매력있어,AKMU,3987723,2012.12.12,포크/블루스,38280,36
...,...,...,...,...,...,...,...,...
4901,109,나의 바람,비투비,36414423,2023.05.02,댄스,29084,776
4902,110,Heaven,임재현,36394038,2023.04.25,"발라드, 국내드라마",16137,41
4903,111,안녕이라고 말하지마,VOS,36410735,2023.04.30,발라드,7537,22
4904,112,"이브, 프시케 그리고 푸른 수염의 아내",LESSERAFIM,36411344,2023.05.01,댄스,14849,264
4905,113,No-Return,LESSERAFIM,36411343,2023.05.01,댄스,14573,122

In [12]:
melon_df = melon_df[['music','singer','music_id','release_date','category','music_like','comment_count']]

In [13]:
melon_df

,music,singer,music_id,release_date,category,music_like,comment_count
0,Dancing Queen,소녀시대,3994911,2013.01.01,댄스,21566,36
1,사랑은 이렇게,케이윌,3995922,2012.12.22,"발라드, 국내드라마",9927,11
2,숲,이승기,3968836,2012.11.22,발라드,155630,361
3,카페인,양요섭,3971021,2012.11.26,발라드,80677,205
4,매력있어,AKMU,3987723,2012.12.12,포크/블루스,38280,36
...,...,...,...,...,...,...,...
4901,나의 바람,비투비,36414423,2023.05.02,댄스,29084,776
4902,Heaven,임재현,36394038,2023.04.25,"발라드, 국내드라마",16137,41
4903,안녕이라고 말하지마,VOS,36410735,2023.04.30,발라드,7537,22
4904,"이브, 프시케 그리고 푸른 수염의 아내",LESSERAFIM,36411344,2023.05.01,댄스,14849,264
4905,No-Return,LESSERAFIM,36411343,2023.05.01,댄스,14573,122

In [20]:
result = 0
for data in melon_data_list[:-1]:
    df = pd.read_csv(f'./melon_data/{data}')
    print(f'data:{data}의 개수는 {len(df)}')
    result += len(df)
result

data:melon_2013.csv의 개수는 476
data:melon_2014.csv의 개수는 542
data:melon_2015.csv의 개수는 246
data:melon_2016.csv의 개수는 501
data:melon_2017.csv의 개수는 355
data:melon_2018.csv의 개수는 572
data:melon_2019.csv의 개수는 285
data:melon_2020.csv의 개수는 255
data:melon_2021.csv의 개수는 249
data:melon_2022.csv의 개수는 248
data:melon_2023.csv의 개수는 114

3843

In [14]:
melon_df.to_csv('../code//melon_data/melon_final_data.csv')

In [42]:
melon_df

,music,singer,release_date,category,music_like,movie_like,movie_views,Unnamed: 0
0,모노드라마,"허각, 유승우",2013.02.05,발라드,87466,181.0,220476.0,NaN
1,라면인건가,AKMU,2013.02.17,포크/블루스,36725,NaN,NaN,NaN
2,있다 없으니까,씨스타19,2013.01.31,댄스,56138,441.0,629192.0,NaN
3,눈꽃,거미,2013.02.27,"발라드, 국내드라마",52474,NaN,NaN,NaN
4,거북이,다비치,2013.03.04,발라드,92257,587.0,208556.0,NaN
...,...,...,...,...,...,...,...,...
3838,Cookie,NewJeans,2022.08.01,댄스,133714,3171.0,152708.0,NaN
3839,Teddy Bear,STAYC(스테이씨),2023.02.14,댄스,84132,707.0,64019.0,NaN
3840,너의 모든 순간,성시경,2014.02.12,"발라드, 국내드라마",260608,NaN,NaN,NaN
3841,풍등,이찬원,2023.02.20,성인가요/트로트,12873,3770.0,20260.0,NaN
3842,I Don`t Think That I Like Her,Charlie Puth,2022.10.07,POP,157877,NaN,NaN,NaN

In [33]:
df = pd.read_csv('./melon_data/melon_2018.csv')
# 형변환
# df = df.astype({'music_like':'int64', 'movie_like':'int64', 'movie_views':'int64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   music         572 non-null    object
 1   singer        572 non-null    object
 2   release_date  572 non-null    object
 3   category      572 non-null    object
 4   music_like    572 non-null    object
 5   movie_like    398 non-null    object
 6   movie_views   398 non-null    object
dtypes: object(7)
memory usage: 31.4+ KB

In [38]:
type_test = df['music_like'].tolist()

for i in type_test:
    if type(i) != str:
        print(type(i), i)

In [41]:
type(type_test[0])==str

True

In [12]:
list_tmp_df = []
for data in melon_data_list[:-1]:
    df = pd.read_csv(f'./melon_data/{data}')

    # week_num이라는 값이 들어가있는 행 삭제 후 week_num값을 int로 형변환
    drop_index = df.loc[df['week_num']=='week_num'].index
    df = df.drop(drop_index, axis=0)

    # 1.week_num 형변환
    df = df.astype({'week_num':'int32', 'year':'int32'})

    data = data.rstrip('.csv')
    data = data.split('_')
    if len(data) == 3:
        start_week = int(data[2])
        end_week = int(data[2])
    else:
        start_week, end_week = int(data[2]), int(data[3])
        
    df = df.loc[(df['week_num'] >= start_week) & (df['week_num'] <= end_week)]
    list_tmp_df.append(df)
    
gaon_df = pd.concat(list_tmp_df, ignore_index=True)
gaon_df

,year,week_num,start_date,end_date,rank,music,singer,album
0,2013,11,2013.03.10,2013.03.16,1,거북이,다비치,Mystic Ballad Part 1
1,2013,11,2013.03.10,2013.03.16,2,눈꽃,거미,"그 겨울, 바람이 분다 OST Part 3"
2,2013,11,2013.03.10,2013.03.16,3,눈꽃,거미,"그 겨울, 바람이 분다 OST Part 3"
3,2013,11,2013.03.10,2013.03.16,4,있다 없으니까 (Gone Not Around Any Longer),씨스타19,있다 없으니까
4,2013,11,2013.03.10,2013.03.16,5,라면인건가,AKMU (악뮤),SBS K팝 스타 시즌2 TOP 10 Part 1
...,...,...,...,...,...,...,...,...
53695,2023,15,2023.04.09,2023.04.15,100,The Drum,Alan Walker,The Drum
53696,2023,4,2023.01.22,2023.01.28,99,Love War (Feat. BE`O),YENA(최예나),Love War
53697,2023,5,2023.01.29,2023.02.04,99,Love War (Feat. BE`O),YENA(최예나),Love War
53698,2023,4,2023.01.22,2023.01.28,100,The Drum,Alan Walker,The Drum
53699,2023,5,2023.01.29,2023.02.04,100,The Drum,Alan Walker,The Drum

In [14]:
gaon_df['year'].value_counts()

2016    5300
2022    5300
2013    5200
2014    5200
2015    5200
2017    5200
2018    5200
2019    5200
2020    5200
2021    5200
2023    1500
Name: year, dtype: int64

In [15]:
sorted(gaon_df['year'].unique().tolist())

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [16]:
gaon_df.to_csv('./gaon_data/gaon_data.csv')