# 스크래피 가온데이터 합치기
****week_num datatype int로 통일하고 합치기

In [1]:
import pandas as pd
import os

In [6]:
gaon_data_list = os.listdir('./gaon_data/')

In [7]:
gaon_data_list

['gaon_2013_11_28.csv',
 'gaon_2013_1_10.csv',
 'gaon_2013_29_52.csv',
 'gaon_2014_1_27.csv',
 'gaon_2014_28_43.csv',
 'gaon_2014_44_45.csv',
 'gaon_2014_46.csv',
 'gaon_2014_47.csv',
 'gaon_2014_48.csv',
 'gaon_2014_49.csv',
 'gaon_2014_50.csv',
 'gaon_2014_51.csv',
 'gaon_2014_52.csv',
 'gaon_2015_1_27.csv',
 'gaon_2015_28_52.csv',
 'gaon_2016_1_27.csv',
 'gaon_2016_28_29.csv',
 'gaon_2016_30_50.csv',
 'gaon_2016_51_53.csv',
 'gaon_2017_1_27.csv',
 'gaon_2017_28_49.csv',
 'gaon_2017_50_52.csv',
 'gaon_2018_1_27.csv',
 'gaon_2018_28_44.csv',
 'gaon_2018_45_52.csv',
 'gaon_2019_11_28.csv',
 'gaon_2019_1_10.csv',
 'gaon_2019_29_52.csv',
 'gaon_2020_1_27.csv',
 'gaon_2020_28_42.csv',
 'gaon_2020_43_52.csv',
 'gaon_2021_1_27.csv',
 'gaon_2021_28_52.csv',
 'gaon_2022_1_27.csv',
 'gaon_2022_28_43.csv',
 'gaon_2022_44_47.csv',
 'gaon_2022_48_53.csv',
 'gaon_2023_1_15.csv']

In [12]:
list_tmp_df = []
for data in gaon_data_list:
    df = pd.read_csv(f'./gaon_data/{data}')

    # week_num이라는 값이 들어가있는 행 삭제 후 week_num값을 int로 형변환
    drop_index = df.loc[df['week_num']=='week_num'].index
    df = df.drop(drop_index, axis=0)

    # 1.week_num 형변환
    df = df.astype({'week_num':'int32', 'year':'int32'})

    data = data.rstrip('.csv')
    data = data.split('_')
    if len(data) == 3:
        start_week = int(data[2])
        end_week = int(data[2])
    else:
        start_week, end_week = int(data[2]), int(data[3])
        
    df = df.loc[(df['week_num'] >= start_week) & (df['week_num'] <= end_week)]
    list_tmp_df.append(df)
    
gaon_df = pd.concat(list_tmp_df, ignore_index=True)
gaon_df

,year,week_num,start_date,end_date,rank,music,singer,album
0,2013,11,2013.03.10,2013.03.16,1,거북이,다비치,Mystic Ballad Part 1
1,2013,11,2013.03.10,2013.03.16,2,눈꽃,거미,"그 겨울, 바람이 분다 OST Part 3"
2,2013,11,2013.03.10,2013.03.16,3,눈꽃,거미,"그 겨울, 바람이 분다 OST Part 3"
3,2013,11,2013.03.10,2013.03.16,4,있다 없으니까 (Gone Not Around Any Longer),씨스타19,있다 없으니까
4,2013,11,2013.03.10,2013.03.16,5,라면인건가,AKMU (악뮤),SBS K팝 스타 시즌2 TOP 10 Part 1
...,...,...,...,...,...,...,...,...
53695,2023,15,2023.04.09,2023.04.15,100,The Drum,Alan Walker,The Drum
53696,2023,4,2023.01.22,2023.01.28,99,Love War (Feat. BE`O),YENA(최예나),Love War
53697,2023,5,2023.01.29,2023.02.04,99,Love War (Feat. BE`O),YENA(최예나),Love War
53698,2023,4,2023.01.22,2023.01.28,100,The Drum,Alan Walker,The Drum
53699,2023,5,2023.01.29,2023.02.04,100,The Drum,Alan Walker,The Drum

In [14]:
gaon_df['year'].value_counts()

2016    5300
2022    5300
2013    5200
2014    5200
2015    5200
2017    5200
2018    5200
2019    5200
2020    5200
2021    5200
2023    1500
Name: year, dtype: int64

In [15]:
sorted(gaon_df['year'].unique().tolist())

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [16]:
gaon_df.to_csv('./gaon_data/gaon_data.csv')